 <html>
 <li class="accordion-navigation">
	<a href="#panel{{ acc_id }}{{ field_id }}">{{ title }}</a>
	<div id="panel{{ acc_id }}{{ field_id }}" class="content {{ expanded }}">
	  <p>{{ body|raw }}</p>
	</div>
</li>
</html>